<div class="my-2">
    <p>Greetings, my name is <b>Muhammed Ismail KT</b>.</p>
  
    <p>I&apos;m an <b>Angular developer</b> based in India.</p>
  
    <p>
      With over three years of experience, I specialize in <b>frontend development</b>
      <br class="bg-screen" />
      with expertise in designing, developing, and deploying dynamic web applications and solutions
      <br class="bg-screen" />
      using Angular and other related technologies.
    </p>
  
    <p>I am <b>passionate</b> about coding and creating web applications that solve real-life challenges.</p>
</div>
